.working-section-title-h6 {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAASBAMAAABlZ9nIAAAAFVBMVEUAAABWWs9WWs9WWs9WWs9WWs9WWs/1NWIvAAAAB3RSTlMAJR0IGRQP8idXOgAAAEdJREFUCNdjYBB0YGBgFmRgYGASAhKMYkAiUIABIs4AFDcAEQoMQHEBIGQVYHBgYBQAihqCFCmCVSYwMLAKgjSDTDAUhogDALC/BAIr+ncLAAAAAElFTkSuQmCC');
  background-position: 50%;
  background-repeat: repeat;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  padding: 3px 15px;
  color: var(--second-color);
  margin: 15px auto;
}

.working-section-title-h5 {
  font-size: 45px;
  font-weight: 700;
  color: var(--main-color);
}

.working-section-card-container-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: transparent !important;
}

.working-section-custom-card {
  flex: 1;
  border-radius: 20px !important;
  background-color: #f97316 !important;
  color: #fff;
  width: 290px;
  overflow: hidden;
  text-align: center;
  padding: 13px;
  margin: 0;
  border: none;
  transition: transform 0.3s ease;
  min-width: 250px;
  z-index: 55;
}

.working-section-card-number {
  font-size: 6rem;
  font-weight: bold;
  color: transparent;
  position: relative;
  -webkit-text-stroke: 2px #fff;
  text-shadow: 0 10px 0 #f38f5e;
}

.working-section-card-title {
  text-align: left;
  margin-top: 20px;
  font-size: auto;
  font-weight: bold;
  transition: color 0.3s ease;

}

.working-section-card-text {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  color: #ffff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.working-section-view-more-button {
  margin-top: 15px;
  color: #f97316;
  background-color: #E1E2F6;
  border-radius: 10px;
  padding: 15px 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.working-section-view-more-button:hover {
  color: #E1E2F6 !important;
  background-color: #f97316 !important;
}
.working-section-view-more-button:hover .working-section-arrow-icon {
  color: #E1E2F6 !important;
}

.working-section-arrow-icon {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #f97316;
  transition: .3s;
}

.working-section-first-card,
.working-section-third-card {
  background-color: #fff !important;
  margin: 30px 20px 0px;
}

.working-section-first-card .working-section-card-number,
.working-section-third-card .working-section-card-number {
  -webkit-text-stroke: 2px #f38f5e;
  text-shadow: 0 10px 0 #FFE3D3;
}

.working-section-first-card .working-section-card-title,
.working-section-third-card .working-section-card-title,
.working-section-first-card .working-section-card-text,
.working-section-third-card .working-section-card-text {
  color: #f38f5e;
  
}
.working-section-first-card:hover .working-section-card-title {
  color: #ffffff !important;
}
.working-section-first-card:hover .working-section-card-text {
  color: #ffffff !important;
}
.working-section-third-card:hover .working-section-card-title {
  color: #ffffff !important;
}
.working-section-third-card:hover .working-section-card-text {
  color: #ffffff !important;
}

.working-section-first-card:hover {
  animation: topdown 1s ease-in-out;
}

.working-section-custom-card:hover {
  transform: scale(1.05);
}

.working-section-custom-card::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #f97316, #f97316);
  z-index: 0;
  transition: top 0.5s ease-in-out;
}

.working-section-custom-card:hover::before {
  top: 0;
}

.working-section-custom-card > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .working-section-card-container-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }

  .working-section-custom-card {
      width: 90%;
  }
}

@media (max-width: 480px) {
  .working-section-card-number {
      font-size: 4rem;
  }

  .working-section-view-more-button {
      padding: 10px 20px;
      font-size: 14px;
  }
}

.working-section-pluse-image {
  position: absolute;
  top: 250px;
  right: 90px;
  animation: toptobottom 5s infinite ease;
}

.working-section-circle-image {
  position: absolute;
  bottom: 50px;
  left: 100px;
  animation: toptobottom 5s infinite ease;
}

.working-section-circle-image2 {
  position: absolute;
  top: 490px;
  right: 220px;
  z-index: 1;
  animation: toptobottom 5s infinite ease;
}

.working-section-circle-image4 {
  position: absolute;
  top: 400px;
  right: 800px;
  z-index: 1;
  animation: lefttoright 5s infinite ease;
}

.working-section-circle-image3 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}
