.card-container-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 20px;
    width: 100%;
    max-width: 1200px; /* Restrict maximum width */
    margin: 85px auto; /* Center align */
    overflow: hidden; /* Prevent overflow issues */
}